<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
    <section name="mainServer" type="MainServer.Configuration.MainServerConfiguration, MainServer" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService" />
  </appSettings>
  <superSocket xmlns="http://schema.supersocket.net/supersocket"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://schema.supersocket.net/supersocket http://schema.supersocket.net/v1-6/supersocket.xsd">
    <servers>
      <server name="MainServer.1"
              serverTypeName="MainServer"
              ip="Any"
              port="9010"
              maxConnectionNumber="20000">
        <!--<commandAssemblies>
          <add assembly="SuperSocket.Demo.Protobuf.Server"/>
        </commandAssemblies>-->
      </server>
    </servers>
    <serverTypes>
      <add name="MainServer" type="MainServer.PbServer, MainServer"/>
    </serverTypes>
  </superSocket>
  <mainServer instanceName="mainserver.1">
    <redisChannel namespace="rc.ms" separator="#" host="192.168.1.104:6379" poolSize="5" timeout="10" />
    <redisData host="192.168.1.104:6379" poolSize="5" timeout="10" />
  </mainServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>